<div class="header-container">
    <div class="grid">
        <div class="col-5 col-offset-7">
            <div class="grid">
                <div class="col-12 flex justify-content-end align-items-center">
                    <i class="fa-regular fa-envelope"></i>
                    <i class="fa-regular fa-bell"></i>
                    <div class="profile">
                        <img src="../../../../assets/img/profile.png" alt="">
                    </div>
                    <div class="flex align-items-start flex-column">
                        <p>Damsha Gunarathne</p>
                        <p>damshagunarathne@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>