<div class="grid h-full">
    <div class="col-6 h-full">
        <div class="grid login-content">
            <div class="col-12 text-center pt-7">
                <div class="grid mt-5">
                    <div class="col-12">
                        <h1>LOGIN</h1>
                    </div>
                </div>
                <div class="grid mt-3">
                    <div class="col-12">
                        <p>Step Into Knowledge – Log In to Your Future.</p>
                    </div>
                </div>
                <div class="grid mt-3">
                    <div class="col-12">
                        <input pInputText>
                    </div>
                </div>
                <div class="grid mt-3">
                    <div class="col-12">
                        <p-password  [toggleMask]="true" [feedback]="false"></p-password>    
                    </div>
                </div>  
                <div class="grid mt-3">
                    <div class="col-12">
                        <button pButton label="Login Now" class="primary-button"></button>
                    </div>
                </div> 
                <div class="grid mt-3" >
                    <div class="col-12">
                        <h4 class="cursor-point">Forget  Password? Click Here</h4>
                    </div>
                </div>     
            </div>
        </div>
    </div>
    <div class="col-6 h-full login-image-content">
        <div class="grid login-content">
            <div class="col-6 pl-3">
                <h1>Very good <br>
                    learning&nbsp;experience <br>
                    waiting for <br>
                    you Login <br>
                    Now!!!</h1>
            </div>
            <div class="col-6">
                <img src="../../../assets/img/login.png" alt="">
            </div>
        </div>
    </div>
</div>